<div class="grid">
    <div class="col-12">
        <!-- <div class="card"> -->
           
           

            <!-- <div class="flex justify-content-center flex-wrap gap-4">
                <button pButton pRipple type="button" label="MEASURE TITLE" icon="pi pi-angle-double-right" iconPos="right" routerLink="/measures/measure-detail" class="p-button-raised"></button>
                <button pButton pRipple type="button" label="MEASURE DESCRIPTION" icon="pi pi-angle-double-right" iconPos="right" routerLink="/measures/measure-detail" class="p-button-raised p-button-info"></button>

                <button pButton pRipple type="button" label="SUPPLIER" icon="pi pi-angle-double-right" iconPos="right" class="p-button-raised p-button-help"></button>

            </div> -->

            <div class="col-12">
                <div class="card">
                    <h5>ENTER YOUR DATAS</h5>
                    <div class="grid">
                        <div class="col-12 md:col-4">
                           
                                <!-- <button pButton pRipple type="button" label="MEASURE TITLE" icon="pi pi-angle-double-right" iconPos="right" class="p-button-raised w-full"></button> bg-lime-400-->
                                <h5 class="bg-indigo-100 p-2 border-round-lg">MEASURE TITLE</h5>
    
                                <div class="p-inputgroup mt-1">
                                    <span class="p-inputgroup-addon"><i class="pi pi-clone"></i></span>
                                    <input type="text" pInputText placeholder="ENTER TITLE">
                                </div>
                          

                        </div>
                        <div class="col-12 md:col-4">
                            <h5 class="bg-cyan-100 p-2 border-round-lg">MEASURE DESCRIPTION</h5>

                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
                                <input type="text" pInputText placeholder="ENTER DESCRIPTION">
                            </div>
                        </div>
                        <div class="col-12 md:col-4">
                            <!-- <button pButton pRipple type="button" label="SUPPLIER" icon="pi pi-angle-double-right" iconPos="right" class="p-button-raised p-button-help w-full"></button> -->
                            <h5 class="bg-green-100 p-2 border-round-lg">SUPPLIER </h5>

                            <div class="p-inputgroup mt-1">
                                <span class="p-inputgroup-addon"><i class="pi pi-clone"></i></span>
                                <input type="text" pInputText placeholder="ENTER DESCRIPTION">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <h5>MEASURE DATAS</h5>
                    <p-table #dt1 [value]="customers1" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-column sm:flex-row">
                                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                                <span class="p-input-icon-left mb-2">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 12rem">
                                    <div class="flex justify-content-between align-items-center">
                                        SUPPLIER
                                        <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                                    </div>
                                </th>
                              
                             
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        PART NUMBER
                                        <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        BUDGET PRICE
                                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="min-width: 12rem">
                                    <div class="flex justify-content-between align-items-center">
                                        NEW PRICE
                                        <p-columnFilter field="status" matchMode="equals" display="menu">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                                    <ng-template let-option pTemplate="item">
                                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                                    </ng-template>
                                                </p-dropdown>
                                            </ng-template>
                                        </p-columnFilter>
                                    </div>
                                </th>
                               
                                <th style="min-width: 8rem">
                                    <div class="flex justify-content-between align-items-center">
                                        START DATE
                                        <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-customer>
                            <tr>
                                <td>
                                    {{customer.name}}
                                </td>
                               
                                <td>
                                    {{customer.id}}
                                </td>
                                <td>
                                    {{customer.balance | currency:'USD':'symbol'}}
                                </td>
                                <td>
                                    {{customer.balance | currency:'USD':'symbol'}}
                                </td>
                                
                                <td class="text-center">
                                    {{customer.date | date: 'MM/dd/yyyy'}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No customers found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading customers data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        
            </div>

            <div class="flex justify-content-center flex-wrap gap-4">
                <button pButton pRipple label="BACK" icon="pi pi-angle-double-left" iconPos="left" routerLink="/measures/measure-basic-data"></button>
                <button pButton pRipple label="NEXT" icon="pi pi-angle-double-right" iconPos="right" routerLink="/measures/measure-milestone"></button>
            </div>

        <!-- </div> -->
    </div>
</div>
