<!-- <div class="flex flex-row p-3 font-bold text-xl items-center ">
    <div class="mr-1 ">
        <img src="../../../../assets/demo/images/my-image/{{layoutService.config.colorScheme === 'light' ? 'shape' : 'shape'}}.svg" alt="logo">
    </div>
    <div><h4>Buyer Wellcome  Site </h4></div>
</div> -->
<div class="grid grid-cols-3 gap-2 content-center p-3 ml-1 ...">
    <div class="flex items-center ">
        <img src="../../../../assets/demo/images/my-image/{{layoutService.config.colorScheme === 'light' ? 'shape' : 'shape'}}.svg" alt="logo" >

    </div>
    <div class="flex justify-center text-center">
        <span class="inline-block align-middle font-bold text-2xl">Buyer Wellcome  Site </span>
    </div>
   
  </div>
<router-outlet></router-outlet>
